/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2020, 7:50:31 PM
    Author     : omar
*/

.box{
    -fx-background-color: #fff;
}
.table-view{
   -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}